# Development of machine learning models to process Electronic Health Records â€“ Explainable Models

### Preprocessing Notebook
Lok Hang Toby Lee (2431180L)

# Preprocessing
----------------------------------------------------------

In [1]:
import numpy as np
import pandas as pd

# SET YOUR PATH FOR RESOURCES FILE HERE
resources_path = "C:/Users/USER/OneDrive/GU/Year 4/FYP/Workspace/resources/"
data_path = "C:/Users/USER/OneDrive/GU/Year 4/FYP/Workspace/data/"

In [3]:
data = pd.read_csv(data_path+'/mimic_timeseries_data_not_imputed.csv')

In [8]:
data

,Unnamed: 0,icustay_id,subject_id,hadm_id,hours_in,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,...,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,0,200003,27513,163557,0,49.000000,NaN,4.0,6.0,15.0,...,110.0,119.0,NaN,58.000000,97.0,35.000000,91.000000,NaN,77.5,NaN
1,1,200003,27513,163557,1,52.000000,NaN,NaN,NaN,NaN,...,NaN,118.0,NaN,59.000000,96.0,32.000000,88.333333,38.999999,77.5,NaN
2,2,200003,27513,163557,2,52.333333,NaN,NaN,NaN,NaN,...,NaN,116.0,NaN,59.666667,95.0,30.333333,85.333333,38.277790,77.5,NaN
3,3,200003,27513,163557,3,60.500000,NaN,NaN,NaN,NaN,...,NaN,112.0,NaN,65.500000,93.5,32.500000,86.500000,37.777790,77.5,NaN
4,4,200003,27513,163557,4,61.000000,NaN,NaN,NaN,NaN,...,NaN,108.0,NaN,67.000000,91.5,37.000000,89.500000,36.833318,77.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163074,2163074,299999,7630,129161,27,50.000000,NaN,NaN,NaN,NaN,...,130.0,72.0,NaN,68.333298,97.0,25.000000,105.000000,NaN,88.5,NaN
2163075,2163075,299999,7630,129161,28,48.000000,NaN,NaN,NaN,NaN,...,NaN,70.0,NaN,66.666702,95.0,22.000000,104.000000,NaN,88.5,NaN
2163076,2163076,299999,7630,129161,29,49.000000,NaN,4.0,6.0,15.0,...,NaN,70.0,NaN,67.666702,94.0,24.000000,105.000000,NaN,88.5,NaN
2163077,2163077,299999,7630,129161,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2163078,2163078,299999,7630,129161,31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import seaborn as sns
"""
Plots histograms of all columns in train data
"""
x_features=['subject_id', 'hadm_id', 'hours_in', 'Diastolic blood pressure',
       'Fraction inspired oxygen', 'Glucose', 'Heart Rate', 'Height',
       'Mean blood pressure', 'Oxygen saturation', 'Respiratory rate',
       'Systolic blood pressure', 'Temperature', 'Weight', 'pH']
       
for i in x_features:
    sns.set_theme()
    # Uncomment to see histograms of all columns
    #sns.displot(data[i], bins=82, kde=True)